## Hypothesis Testing Assignment

In [1]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/0Bz9_0VdXvv9bUUNlUTVrMF9VcVU/view?usp=sharing&resourcekey=0-16O9Fc5eaJH99-M7AHqHOg). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

In [106]:
nba_df = pd.read_csv('nba_games_2013_2015.csv', sep = ';')

In [5]:
nba_df.describe()

,SEASON_ID,TEAM_ID,GAME_ID,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
count,7380.000000,7.380000e+03,7.380000e+03,7380.000000,7380.000000,7380.000000,7380.000000,7380.000000,7380.000000,7380.000000,...,7380.000000,7380.000000,7380.00000,7380.000000,7380.000000,7380.000000,7380.000000,7380.000000,7380.000000,7380.000000
mean,22014.000000,1.610613e+09,2.140062e+07,241.966125,101.231572,37.822629,83.711518,0.453055,8.036179,22.676423,...,0.755706,10.738618,32.52832,43.266938,22.108943,7.754607,4.821680,13.851897,20.393631,0.001165
std,0.816552,8.656028e+00,8.165596e+04,8.027611,11.835419,4.926769,7.274056,0.055228,3.336593,6.471358,...,0.104762,3.895066,5.27831,6.507891,4.990035,2.978320,2.565878,3.914646,4.413225,13.598099
min,22013.000000,1.610613e+09,2.130000e+07,237.000000,65.000000,19.000000,60.000000,0.270000,0.000000,4.000000,...,0.167000,1.000000,12.00000,17.000000,6.000000,0.000000,0.000000,3.000000,7.000000,-53.000000
25%,22013.000000,1.610613e+09,2.130092e+07,240.000000,93.000000,34.000000,79.000000,0.415750,6.000000,18.000000,...,0.692000,8.000000,29.00000,39.000000,19.000000,6.000000,3.000000,11.000000,17.000000,-9.000000
50%,22014.000000,1.610613e+09,2.140062e+07,240.000000,101.000000,38.000000,83.000000,0.452000,8.000000,22.000000,...,0.762000,10.000000,32.00000,43.000000,22.000000,8.000000,4.000000,14.000000,20.000000,0.000000
75%,22015.000000,1.610613e+09,2.150031e+07,241.000000,109.000000,41.000000,88.000000,0.489000,10.000000,27.000000,...,0.829000,13.000000,36.00000,48.000000,25.000000,10.000000,6.000000,16.000000,23.000000,9.000000
max,22015.000000,1.610613e+09,2.150123e+07,340.000000,147.000000,57.000000,129.000000,0.684000,22.000000,47.000000,...,1.000000,38.000000,55.00000,81.000000,42.000000,21.000000,18.000000,29.000000,41.000000,53.000000

In [6]:
nba_df.shape[0]

7380

--------------
### Task 1
Split the data into **3** separate dataframes for each NBA season!

In [9]:
nba_df['SEASON_ID'].value_counts()

22013    2460
22015    2460
22014    2460
Name: SEASON_ID, dtype: int64

In [107]:
nba_df2013 = nba_df[nba_df['SEASON_ID'] == 22013]

In [108]:
nba_df2014 = nba_df[nba_df['SEASON_ID'] == 22014]

In [109]:
nba_df2015 = nba_df[nba_df['SEASON_ID'] == 22015]

---------------
### Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

### 1st hypothesis test
#### H0: mean(CLE) = mean(GSW), 
#### Ha: mean(CLE) != mean(GSW)
Performing a one- way t-test to find out if the PTS from both teams are from the same distribution:

In [14]:
nba_df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [17]:
nba_df['PTS'].unique()

array([144,  92,  98, 101, 110,  81, 105, 109, 103,  96, 125, 115,  88,
       104, 117,  91, 116, 107, 114,  99,  97, 112, 122,  90,  93, 102,
        84, 129,  79, 111, 100, 121,  94, 120, 130,  89,  86, 113, 108,
       118, 106, 124,  87,  95, 123,  80, 136,  78, 119,  85, 139,  82,
        75, 133, 132, 128,  69, 131,  83,  77, 126,  76, 137, 134,  73,
       127, 140,  74, 142, 147,  68,  70, 135,  71, 138, 143,  72,  66,
        65, 145,  67], dtype=int64)

In [18]:
nba_df['TEAM_ID'].unique()

array([1610612750, 1610612749, 1610612738, 1610612747, 1610612739,
       1610612758, 1610612746, 1610612764, 1610612737, 1610612761,
       1610612740, 1610612753, 1610612762, 1610612744, 1610612741,
       1610612748, 1610612763, 1610612759, 1610612766, 1610612751,
       1610612742, 1610612745, 1610612755, 1610612757, 1610612756,
       1610612743, 1610612754, 1610612765, 1610612752, 1610612760],
      dtype=int64)

In [19]:
nba_df['TEAM_ABBREVIATION'].unique()

array(['MIN', 'MIL', 'BOS', 'LAL', 'CLE', 'SAC', 'LAC', 'WAS', 'ATL',
       'TOR', 'NOP', 'ORL', 'UTA', 'GSW', 'CHI', 'MIA', 'MEM', 'SAS',
       'CHA', 'BKN', 'DAL', 'HOU', 'PHI', 'POR', 'PHX', 'DEN', 'IND',
       'DET', 'NYK', 'OKC'], dtype=object)

In [40]:
CLA_PTS_df = nba_df2015['PTS'][nba_df2015['TEAM_ABBREVIATION'] =='CLE']

In [41]:
GSW_PTS_df = nba_df2015['PTS'][nba_df2015['TEAM_ABBREVIATION'] =='GSW']

In [42]:
st.ttest_ind(CLA_PTS_df, GSW_PTS_df)

Ttest_indResult(statistic=-5.973920595717936, pvalue=1.4233420547764935e-08)

Since, the p-value is very small and close to 1, it implies that the null hypothesis is rejected and the PTS of both teams are not from the same distribution.

In [46]:
nba_df2015['FG_PCT'].unique()

array([0.651, 0.425, 0.43 , 0.482, 0.474, 0.333, 0.448, 0.477, 0.395,
       0.441, 0.435, 0.462, 0.47 , 0.529, 0.432, 0.429, 0.473, 0.547,
       0.438, 0.403, 0.485, 0.457, 0.455, 0.426, 0.433, 0.505, 0.45 ,
       0.487, 0.405, 0.513, 0.402, 0.407, 0.506, 0.444, 0.558, 0.284,
       0.458, 0.526, 0.449, 0.382, 0.571, 0.41 , 0.517, 0.488, 0.494,
       0.51 , 0.36 , 0.378, 0.346, 0.4  , 0.525, 0.406, 0.46 , 0.385,
       0.446, 0.456, 0.442, 0.5  , 0.411, 0.434, 0.481, 0.523, 0.518,
       0.479, 0.352, 0.465, 0.439, 0.544, 0.532, 0.424, 0.524, 0.468,
       0.564, 0.42 , 0.568, 0.381, 0.542, 0.478, 0.413, 0.453, 0.467,
       0.436, 0.414, 0.512, 0.563, 0.356, 0.313, 0.471, 0.398, 0.451,
       0.364, 0.37 , 0.447, 0.463, 0.344, 0.386, 0.461, 0.527, 0.388,
       0.408, 0.423, 0.553, 0.421, 0.466, 0.519, 0.383, 0.437, 0.459,
       0.528, 0.535, 0.367, 0.443, 0.387, 0.533, 0.419, 0.372, 0.452,
       0.412, 0.48 , 0.345, 0.363, 0.483, 0.56 , 0.44 , 0.615, 0.379,
       0.416, 0.306, 0.475, 0.348, 0.514, 0.427, 0.409, 0.377, 0.404,
       0.622, 0.394, 0.53 , 0.418, 0.554, 0.417, 0.539, 0.545, 0.534,
       0.415, 0.531, 0.489, 0.538, 0.536, 0.391, 0.476, 0.551, 0.493,
       0.422, 0.393, 0.548, 0.565, 0.341, 0.49 , 0.396, 0.566, 0.464,
       0.522, 0.543, 0.537, 0.595, 0.58 , 0.59 , 0.376, 0.567, 0.297,
       0.541, 0.469, 0.557, 0.374, 0.347, 0.516, 0.371, 0.484, 0.561,
       0.349, 0.354, 0.521, 0.684, 0.507, 0.54 , 0.397, 0.384, 0.675,
       0.375, 0.593, 0.573, 0.368, 0.57 , 0.577, 0.511, 0.602, 0.495,
       0.353, 0.55 , 0.38 , 0.366, 0.312, 0.389, 0.325, 0.39 , 0.575,
       0.365, 0.606, 0.338, 0.549, 0.359, 0.556, 0.486, 0.585, 0.358,
       0.362, 0.351, 0.52 , 0.454, 0.369, 0.472, 0.361, 0.326, 0.373,
       0.357, 0.605, 0.319, 0.552, 0.355, 0.609, 0.584, 0.35 , 0.578,
       0.316, 0.6  , 0.392, 0.562, 0.322, 0.569, 0.594, 0.618, 0.431,
       0.337, 0.329, 0.321, 0.586, 0.33 , 0.343, 0.271, 0.515, 0.305,
       0.302])

In [44]:
CLE_FG_PCT = nba_df2015['FG_PCT'][nba_df2015['TEAM_ABBREVIATION'] =='CLE']

In [45]:
GSW_FG_PCT = nba_df2015['FG_PCT'][nba_df2015['TEAM_ABBREVIATION'] =='GSW']

In [47]:
st.ttest_ind(CLE_FG_PCT, GSW_FG_PCT)

Ttest_indResult(statistic=-3.13195297595825, pvalue=0.00206097581047554)

Again, the null hypothesis is rejected based on the evidence that p-value is even less than 0.01 (that defines the confindence interval of 99%). **Implying that the offensive production stats are not from the same distribution.**

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

#### H0: Number of points did not change after the head coach changed.
#### Ha: Number of points significantly improved after the head coach changed => mean(aftercoach)>mean(beforecoach)

In [48]:
nba_df.head(2)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0

In [50]:
nba_df['GAME_DATE'].value_counts()

2014-04-16    30
2016-04-13    28
2014-04-04    28
2013-10-30    28
2016-02-19    28
              ..
2013-10-31     4
2015-02-12     2
2015-03-26     2
2015-04-06     2
2014-02-02     2
Name: GAME_DATE, Length: 486, dtype: int64

In [81]:
nba_2seasons=pd.concat([nba_df2014, nba_df2015])

In [82]:
nba_2seasons['GAME_DATE']=pd.to_datetime(nba_2seasons['GAME_DATE'],format="%Y-%m-%d")

In [58]:
from datetime import timedelta, datetime

In [86]:
aftercoach=nba_2seasons['PTS'][(nba_2seasons['GAME_DATE'] > datetime.strptime('2016-01-24',"%Y-%m-%d")) & (nba_2seasons['TEAM_ABBREVIATION'] == 'CLE')]

In [97]:
beforecoach=nba_2seasons['PTS'][(nba_2seasons['GAME_DATE'] < datetime.strptime('2016-01-24',"%Y-%m-%d")) & (nba_2seasons['TEAM_ABBREVIATION'] == 'CLE')]

In [98]:
aftercoach.shape[0],beforecoach.shape[0]

(40, 124)

In [90]:
beforecoach=beforecoach.sample(40,random_state=3)

In [91]:
aftercoach.shape[0],beforecoach.shape[0]

(40, 40)

In [96]:
st.ttest_ind(aftercoach, beforecoach, alternative='greater')

Ttest_indResult(statistic=2.298263770106656, pvalue=0.012112999479960624)

The above p-value indicates a strong evidence against null hypothesis, thereby we can say that the scores of Cleveland improved after the coach was fired

Option2: To take both samples (different sizes)

In [99]:
st.ks_2samp(aftercoach,beforecoach,alternative='greater')

KstestResult(statistic=0.0717741935483871, pvalue=0.6930386757940216)

Since, the p-value is greater than 0.5 (with a confidence interval of 95%), there is little or no evidence against null hypothesis when complete data is considered from both games.

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/0Bz9_0VdXvv9bRHhuRTI1aXBQcTA/view?usp=sharing&resourcekey=0-jGIaWyk0bXyECNSzB3x38w) with scores from playoff games in 2016.

In [100]:
nba_2016df=pd.read_csv('nba_playoff_games_2016.csv',sep=';')

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.

In [101]:
nba_2016df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42015,1610612739,CLE,Cleveland Cavaliers,41500407,2016-06-19,CLE @ GSW,W,241,93,...,0.840,9,39,48,17,7,6,11,15,4.0
1,42015,1610612744,GSW,Golden State Warriors,41500407,2016-06-19,GSW vs. CLE,L,239,89,...,0.769,7,32,39,22,7,5,10,23,-4.0
2,42015,1610612744,GSW,Golden State Warriors,41500406,2016-06-16,GSW @ CLE,L,238,101,...,0.690,9,26,35,19,5,3,14,25,-14.0
3,42015,1610612739,CLE,Cleveland Cavaliers,41500406,2016-06-16,CLE vs. GSW,W,240,115,...,0.781,8,37,45,24,12,7,10,25,14.0
4,42015,1610612739,CLE,Cleveland Cavaliers,41500405,2016-06-13,CLE @ GSW,W,241,112,...,0.609,8,33,41,15,11,9,16,22,15.0

In [104]:
nba_2016df.shape

(172, 28)

In [103]:
nba_2016df.SEASON_ID.value_counts()

42015    172
Name: SEASON_ID, dtype: int64


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [110]:
pts2013=nba_df2013['PTS'][nba_df2013['TEAM_ABBREVIATION']=="CLE"]

In [111]:
pts2014=nba_df2014['PTS'][nba_df2014['TEAM_ABBREVIATION']=="CLE"]

In [112]:
pts2015=nba_df2015['PTS'][nba_df2015['TEAM_ABBREVIATION']=="CLE"]

In [113]:
st.f_oneway(pts2013,pts2014,pts2015)

F_onewayResult(statistic=5.9200250318080885, pvalue=0.003087727119983984)

In [115]:
pts2013.std(), pts2014.std(), pts2015.std()

(12.388788629633082, 12.694669042624803, 11.002867054027869)

comparing the largest and smallest variance to see if it falls within 0.5 to 2 to check if anova test is valid.

In [116]:
12.694669042624803/11.002867054027869

1.1537601045518049

Since, p-value is less than 0.01 it means that there is very strong evidence against null hypothesis that the PTS scored by CLEs are not equally distributed across all 3 seasons.

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.

In [119]:
!pip install scikit-posthocs

Collecting scikit-posthocs
  Downloading scikit-posthocs-0.6.7.tar.gz (43 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Requirement already satisfied: seaborn in c:\users\user\anaconda3\lib\site-packages (from scikit-posthocs) (0.11.2)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from scikit-posthocs) (1.21.4)
Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (from scikit-posthocs) (3.4.3)
Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (from scikit-posthocs) (1.7.1)
Requirement already satisfied: pandas>=0.20.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-posthocs) (1.0.1)
Requirement already satisfied: statsmodels in c:\users\user\anaconda3\lib\site-packages (from scikit-posthocs) (0.13.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.20.0->scikit-posthocs) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.20.0->scikit-posthocs) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.20.0->scikit-posthocs) (1.16.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (1.3.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\user\anaconda3\lib\site-packages (from statsmodels->scikit-posthocs) (0.5.2)
Building wheels for collected packages: scikit-posthocs
  Building wheel for scikit-posthocs (PEP 517): started
  Building wheel for scikit-posthocs (PEP 517): finished with status 'done'
  Created wheel for scikit-posthocs: filename=scikit_posthocs-0.6.7-py3-none-any.whl size=37902 sha256=3979b905e9a4cd061024a64760c80c5d484ecefa669510535eac695a3476e14c
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\59\a1\76\8954a8efb2e143534be5943de94a245c673b25b9ce71c3aab3
Successfully built scikit-posthocs
Installing collected packages: scikit-posthocs
Successfully installed scikit-posthocs-0.6.7

In [121]:
import scikit_posthocs as sp

In [125]:
cle = nba_df[nba_df['TEAM_ABBREVIATION']=='CLE']

In [137]:
cle.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [138]:
cle['SEASON_ID']

4       22015
40      22015
78      22015
127     22015
151     22015
        ...
7248    22013
7282    22013
7303    22013
7316    22013
7355    22013
Name: SEASON_ID, Length: 246, dtype: object

In [141]:
res=sp.posthoc_ttest(cle,'PTS','SEASON_ID')

In [142]:
res

          22015     22014     22013
22015  1.000000  0.520351  0.001043
22014  0.520351  1.000000  0.013092
22013  0.001043  0.013092  1.000000

Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. Also, very significant difference between the group means from seasons 2013 and 2015 is present as compared to difference between seasons 2013 and 2014 and 2014 and 2015